* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

#main {
    height: 100%;
    width: 100%;
}

.main1 {
    height: 100%;
    width: 100%;
    /* background-color: aqua; */
    position: relative;
}

.main1>.aa>img {
    height: 100vh;
    width: 100%;
}

.main1>.aa>.aa2 {
    position: absolute;
    height: 70px;
    width: 90%;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(rgb(4, 4, 4), transparent);
    border: 1px solid #9f7a32;
}

.main1>.aa>.aa2>.bb1 {
    height: 9.5vh;
    width: 17vw;
    /* background-color: blue; */
    border-right: 1px solid #bf933b;
}

.main1>.aa>.aa2>.bb1>img {
    height: 38px;
    margin: 17px 20px;
}

.main1>.aa>.aa2>.bb2 {
    height: 10vh;
    width: 75vw;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    margin-left: 32%;
    gap: 5%;

}

.main1>.aa>.aa2>.bb2>a {
    color: #fff;
    text-decoration: none;
    font-family: gilroy;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all ease 0.5s;
}

.main1>.aa>.aa2>.bb2>a::selection {
    color: #9f7a32;
    background-color: black;
}

.main1>.aa>.aa2>.bb2>a:hover {
    scale: 1.2;
}

.main1>.aa>.aa2>.bb2>button {
    padding: 10px 20px;
    background-color: transparent;
    color: #fff;
    border-style: none;
    border: 1px solid #fff;
    transition: all ease 0.2s;
}

.main1>.aa>.aa2>.bb2>button::selection {
    color: #9f7a32;
    background-color: black;
}

.main1>.aa>.aa2>.bb2>button:active {
    scale: 0.9;
}

.main1>.aa>.aa3 {
    height: 90vh;
    width: 90vw;
    position: absolute;
    /* background-color: aqua; */
    margin: 71px 77px;
    border-left: 1px solid #bf933b;
    border-right: 1px solid #bf933b;
    text-align: center;

}

.main1>.aa>.aa3>p {
    margin-top: 32%;
    color: #dadadd;
    font-family: gilroy;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 20px;
    font-weight: 500;
}

.main1>.aa>.aa3>p::selection {
    color: #9f7a32;
    background-color: black;
}

.main1>.aa>.aa3>button {
    margin-top: 3%;
    padding: 17px 25px;
    letter-spacing: 1px;
    transition: all ease .5s;
}


.main1>.aa>.aa3>button:active {
    scale: .2;
}

.main1>.aa>.aa3>button>i {
    font-size: 15px;
}

#main2 {
    /* height: 100vh; */
    width: 100vw;
    background-color: #F3EAE1;
    position: relative;

}

#main2>.box1 {
    margin-left: 5%;
    height: 30vh;
    width: 90vw;
    background-color: #F3EAE1;
    border-left: 1px solid#bf933b;
    border-right: 1px solid#bf933b;

}

#main2>.box1>h6 {
    padding: 50px 20px;
    font-family: gilroy;
    color: #bf933b;
    letter-spacing: 1px;
    font-weight: 600;

}

#main2>.box1>h1 {
    line-height: 50px;
    margin-left: 44%;
    font-size: 40px;
    font-family: Cinzel Decorative;
}

#main2>.box1>h2 {

    margin-left: 24%;
    font-size: 40px;
    font-family: Cinzel Decorative;
}

#main2>.box2 {
    margin-left: 5%;
    height: 70vh;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #282119; */
    border: 1px solid #bf933b;
}

#main2>.box2>.colo1 {
    height: 70vh;
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-right: 1PX solid #bf933b;
}

#main2>.box2>.colo1>.aa1>img {
    height: 65vh;
    width: 50vw;
}

#main2>.box2>.colo1>.aa2>img {
    height: 40vh;
    width: 13vw;
    margin-top: 185px;
}

#main2>.box2>.colo2 {
    height: 70vh;
    width: 25vw;
    background-color: #F3EAE1;

}

#main2>.box2>.colo2>.aa1>h4 {
    margin-left: 50px;
    margin-top: 45px;
    font-size: 17px;
    font-family: gilroy;
    font-weight: 400;
    letter-spacing: 2px;
}

#main2>.box2>.colo2>.aa1>h6 {
    margin-left: 50px;
    margin-top: 45px;
    font-size: 13px;
    font-weight: 400;
    font-family: gilroy;
    opacity: .6;
}

#main2>.box2>.colo2>.aa2>button {
    padding: 13px 90px;
    margin: 210px 40px;
    background-color: #1F3930;
    color: #F3EAE1;
    transition: all ease 0.2s;
}

#main2>.box2>.colo2>.aa2>button:active {
    scale: .2;
}

#main3 {
    height: 25vh;
    width: 100vw;
    background-color: #F3EAE1;
}

#main3>.aa1 {
    height: 24.8vh;
    width: 90vw;
    background-color: #F3EAE1;
    margin-left: 5%;
    border: 1px solid #bf933b;
}

#main4 {
    height: 100vh;
    width: 100vw;
    background-color: #F3EAE1;
}

#main4>.aa1 {
    height: 100vh;
    width: 90vw;
    background-color: #F3EAE1;
    margin-left: 1%;
}

#main4>.aa1>img {
    height: 100vh;
    width: 98vw;
}

#main5 {
    height: 120vh;
    width: 100vw;
    background-color: #F3EAE1;
    position: relative;
}

#main5>img {
    margin-top: 10%;
    height: 100vh;
    width: 100vw;
}

#main5>.aa1 {
    margin-left: 5%;
    position: absolute;
    height: 120.8vh;
    width: 89.9vw;
    border-left: 1px solid #bf933b;
    border-right: 1px solid #bf933b;
}

#main5>.aa1>.bb1 {
    height: 50vh;
    width: 89.9vw;
    /* background-color: #1F3930; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#main5>.aa1>.bb1>h1 {
    margin-top: 10%;
    color: gray;
    font-size: 100px;
    letter-spacing: 3px;
    font-family: Cinzel Decorative;
    font-weight: 400;
    word-spacing: 30px;
    animation: animaa 2s infinite forwards;

}

@keyframes animaa {
    0% {
        margin-bottom: 0%;
        color: black;

    }

    20% {
        margin-bottom: 10%;
        color: lightgreen;
    }

    100% {
        margin-bottom: 15%;
        color: transparent;
        /* transition: all ease 0.5s; */
    }

}

#main5>.aa1>.bb2 {
    margin-top: 5%;
    height: 55vh;
    width: 89.9vw;
    /* background-color: #2d9b75; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

#main5>.aa1>.bb2>.cc1 {
    height: 40vh;
    width: 35vw;
    /* background-color: aqua; */
    margin-left: 5%;
    border-left: 1px solid rgb(0, 0, 0);
}

#main5>.aa1>.bb2>.cc1>h6 {
    margin: 180px 20px;
    font-size: 14px;
    font-family: gilroy;
    font-weight: 600;
    color: #F3EAE1;
}

#main5>.aa1>.bb2>.cc1>h6::selection {
    color: black;
    background-color: #bf933b;
}

#main5>.aa1>.bb2>.cc2 {
    height: 40vh;
    width: 35vw;
    /* background-color: rgb(255, 98, 0); */
    border-left: 1px solid black;
}

#main5>.aa1>.bb2>.cc2>h6 {
    margin: 10px 80px;
    font-size: 13px;
    font-family: gilroy;
    font-weight: 600;
    color: #F3EAE1;
}

#main5>.aa1>.bb2>.cc2>h6::selection {
    color: black;
    background-color: #bf933b;
}

#main5>.aa1>.bb2>.cc2>button {
    margin: 100px 90px;
    padding: 15px 50px;
    font-size: 15px;
    letter-spacing: 1px;
    background-color: #F3EAE1;
    border: none;
    color: #7d7373;
}

#main5>.aa1>.bb2>.cc2>button:hover {
    background-color: transparent;
    border: 1px solid #F3EAE1;
    color: black;
}

#main5>.aa1>.bb2>.cc2>button>i {
    font-size: 20px;
    opacity: .6;
}

#main6 {
    height: 35vh;
    width: 100vw;
    background-color: #0E0E0D;
}

#main6>.aa1 {
    height: 35vh;
    width: 89.9vw;
    margin-left: 5%;
    border-left: 1px solid #bf933b;
    border-right: 1px solid #bf933b;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main6>.aa1>h6 {
    color: #bf933b;
    font-family: gilroy;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 14px;
}

#main6>.aa1>h1 {
    color: #bf933b;
    margin-left: 20%;
    font-size: 50px;
    font-family: Cinzel Decorative;
    font-weight: 400;
    letter-spacing: 1px;
    word-spacing: 10px;
    color: #F3EAE1;
}

#main6>.aa1>h1>.cc> {
    margin-right: 10%;
}

#main7 {
    height: 27vh;
    width: 100vw;
    background-color: #0E0E0D;
}

#main7>.aa1 {
    height: 26.8vh;
    width: 89.9vw;
    margin-left: 5%;
    display: flex;
    align-items: center;
    border: 1px solid #bf933b;
}

#main7>.aa1>.bb1 {
    height: 27vh;
    width: 23vw;
    border-right: 1px solid #bf933b;
}

#main7>.aa1>.bb1>h6 {
    font-family: gilroy;
    font-weight: 500;
    font-size: 13px;
    margin: 48px 24px;
    color: #F3EAE1;

}

#main7>.aa1>.bb2 {
    height: 27vh;
    width: 23vw;
    border-right: 1px solid #bf933b;
}

#main7>.aa1>.bb3 {
    height: 27vh;
    width: 23vw;
    border-right: 1px solid #bf933b;
    display: flex;
}

#main7>.aa1>.bb3>.cc1 {
    font-size: 150px;
    margin-left: 11%;
    color: #bf933b;
    font-family: Cinzel Decorative;
}

#main7>.aa1>.bb3>.cc2 {
    margin-top: 35%;
    color: #bf933b;
    font-family: gilroy;
    font-weight: 600;
}

#main7>.aa1>.bb4 {
    height: 27vh;
    width: 23vw;
    display: flex;
    border-right: 1px solid #bf933b;
}

#main7>.aa1>.bb4>.cc1 {
    font-size: 160px;
    margin-left: 11%;
    color: #bf933b;
    font-family: Cinzel Decorative;
}

#main7>.aa1>.bb4>.cc2 {
    margin-top: 35%;
    color: #bf933b;
    font-family: gilroy;
    font-weight: 600;
}

#main8 {
    height: 80vh;
    width: 100vw;
    background-color: #0E0E0D;

}

#main8>.aa1 {
    height: 80vh;
    width: 89.9vw;
    margin-left: 5%;
    display: flex;
    align-items: center;
    background-color: #0E0E0D;
    border-left: 1px solid #bf933b;
    border-right: 1px solid #bf933b;
}

#main8>.aa1>.cc1 {
    height: 80vh;
    width: 50vw;
    border-right: 1px solid #bf933b;
}

#main8>.aa1>.cc1>img {
    height: 70vh;
    width: 35vw;
    margin: 40px 35px;
}

#main8>.aa1>.cc2 {
    height: 80vh;
    width: 50vw;
    background-color: #7d7373;
}

#main8>.aa1>.cc2>img {
    height: 80vh;
    width: 50vw;
}

#main9 {
    height: 35vh;
    width: 100vw;
    background-color: #0E0E0D;
}

#main9>.aa1 {
    height: 34.7vh;
    width: 89.9vw;
    margin-left: 5%;
    border: 1px solid #bf933b;
}

#main10 {
    height: 200vh;
    width: 100vw;
    background-color: #F3EAE1;
    position: relative;
}

#main10>img {
    height: 120vh;
    width: 95vw;
    margin-left: 3%;
    margin-top: 37%;
}

#main10>.aa1 {
    position: absolute;
    height: 200vh;
    width: 90vw;
    margin-left: 5%;
    border-left: 1px solid #bf933b;
    border-right: 1px solid #bf933b;
}

#main10>.aa1>.bb1 {
    height: 100vh;
    width: 90vw;
}

#main10>.aa1>.bb1>.cc1 {
    height: 40vh;
    width: 90vw;
}

#main10>.aa1>.bb1>.cc1>img {
    height: 30vh;
    width: 25vw;
    margin: 70px 300px;
    transition: all ease 0.5s;
    animation: anima 2s infinite;
}

@keyframes anima {
    0% {
        margin-top: 0%;
    }

    100% {
        margin-top: 10%;
    }

}

#main10>.aa1>.bb1>.cc1>img:hover {
    scale: 1.2;
    margin-top: 10%;
}

#main10>.aa1>.bb1>.cc2 {
    height: 60vh;
    width: 90vw;
    display: flex;

}

#main10>.aa1>.bb1>.cc2>.dd1>img {
    height: 50vh;
    width: 15vw;
    margin: 20px 100px;
    transition: all ease 0.5s;
    animation: anii 2s infinite;
}

@keyframes anii {
    0% {
        margin-top: 0%;
    }

    100% {
        margin-top: 7%;
    }

}


#main10>.aa1>.bb1>.cc2>.dd1>img:hover {
    scale: 1.2;
    margin-right: 10%;
}

#main10>.aa1>.bb1>.cc2>.dd2>img {
    height: 35vh;
    width: 25vw;
    margin-left: 50px;
    animation: ani 2s infinite;

}

@keyframes ani {
    0% {
        margin-top: 10%;
    }

    100% {
        margin-top: 0%;
    }

}

#main10>.aa1>.bb2 {
    height: 100vh;
    width: 90vw;
    display: inline-block;
    align-items: center;
    justify-content: center;
}

#main10>.aa1>.bb2>h5 {
    margin-top: 250px;
    margin-left: 50px;
    font-family: gilroy;
    font-weight: 600;
    color: #bf933b;
    letter-spacing: 1px;
}

#main10>.aa1>.bb2>h1 {
    margin-top: 10px;
    margin-left: 45px;
    font-size: 70px;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #bf933b;
    letter-spacing: 2px;
}

#main10>.aa1>.bb2>h6 {
    margin-top: 10px;
    margin-left: 48px;
    font-size: 14px;
    font-weight: 500;
    opacity: .8;
    font-family: gilroy;

}

#main10>.aa1>.bb2>button {
    margin-top: 30px;
    padding: 15px 50px;
    letter-spacing: 1px;
    margin-left: 50px;
    background-color: #1F3930;
    color: #F3EAE1;
    border: none;
}

#main11 {
    height: 100vh;
    width: 100vw;
    background-color: #0E0E0D;
}

#main11>.aa1 {
    height: 100vh;
    width: 90vw;
    margin-left: 5%;
    background-color: #0E0E0D;
    border-left: 1px solid #bf933b;
    border-right: 1px solid #bf933b;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main11>.aa1>.bb1 {
    height: 90vh;
    width: 50vw;
}

#main11>.aa1>.bb1>img {
    height: 80vh;
    width: 40vw;
    margin: 35px 35px;
}

#main11>.aa1>.bb2 {
    height: 90vh;
    width: 50vw;
}

#main11>.aa1>.bb2>h6 {
    margin: 40px 12px;
    font-size: 15px;
    font-family: gilroy;
    font-weight: 500;
    color: #bf933b;
}

#main11>.aa1>.bb2>.dd1>h1 {
    margin: 40px 12px;
    font-size: 45px;
    font-family: Cinzel Decorative;
    font-weight: 600;
    letter-spacing: 2px;
    color: #F3EAE1;

}

#main11>.aa1>.bb2>.dd2>h1 {
    margin: 32px 170px;
    font-size: 45px;
    font-family: Cinzel Decorative;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1px;
    color: #F3EAE1;
}

#main11>.aa1>.bb2>.dd3 {
    height: 7vh;
    width: 43vw;
    margin-left: 2%;
    background-color: #0E0E0D;
}

#main11>.aa1>.bb2>.dd3>h5 {
    font-family: gilroy;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 17px 20px;
    opacity: .6;
    color: white;
    border: 1px solid #bf933b;
}

#main11>.aa1>.bb2>.dd4 {
    height: 7vh;
    width: 43vw;
    margin-left: 2%;
    margin-top: 2%;
 
    display: flex;
    align-items: center;
}

#main11>.aa1>.bb2>.dd4>.ee1 {
    height: 7vh;
    width: 21vw;
    background-color: #0E0E0D;
}

#main11>.aa1>.bb2>.dd4>.ee1>h5 {
    font-family: gilroy;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 17px 20px;
    opacity: .6;
    color:white;
    background-color: #0E0E0D;
    border: 1px solid #bf933b;
}

#main11>.aa1>.bb2>.dd4>.ee2 {
    height: 7vh;
    width: 22vw;
    margin-left: 2%;
    background-color: #0E0E0D;
}

#main11>.aa1>.bb2>.dd4>.ee2>h5 {
    font-family: gilroy;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 17px 20px;
    opacity: .6;
    color: white;
    background-color: #0E0E0D;
    border: 1px solid #bf933b;
}

 #main11>.aa1>.bb2>.dd5 {
    height: 7vh;
    width: 43vw;
    margin-left: 2%;
    background-color: #0E0E0D;
    margin-top: 2%;
    border: 1px solid #bf933b;
}
#main11>.aa1>.bb2>.dd5>h5 {
    font-family: gilroy;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 17px 20px;
    opacity: .6;
    color: white;
}
#main11>.aa1>.bb2>.dd6 {
    height: 17vh;
    width: 43vw;
    margin-left: 2%;
    margin-top: 2%;
    border: 1px solid #bf933b;
}
#main11>.aa1>.bb2>.dd6>h5 {
    font-family: gilroy;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 17px 20px;
    opacity: .6;
 
    color: white;
}
#main11>.aa1>.bb2>.dd7 {
    height: 7vh;
    width: 20vw;
    margin-left: 2%;
    margin-top: 2%;
    background-color: #F3EAE1;
    border: 1px solid #bf933b;
}
#main11>.aa1>.bb2>.dd7>h5 {
    font-family: gilroy;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 17px 20px;
    color: black;
}
#main12{
    height: 20vh;
    width: 100vw;
    background-color: #0E0E0D;
}
#main12>.aa1{
    height: 20vh;
    width: 90vw; 
    margin-left: 5%;
    border: 1px solid #bf933b;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#main12>.aa1>.bb1{
    height: 20vh;
    width: 20vw;
}
#main12>.aa1>.bb1>h5{
    margin-top: 10%;
    margin-left: 25%;
    font-size: 17px;
    font-family: gilroy;
    font-weight: 500;
    color: #bf933b;
}
#main12>.aa1>.bb1>button{
   margin: 25px 73px;
   padding: 10px 40px;
   color: #F3EAE1;
   background-color: #0E0E0D;
   border: 1px solid #F3EAE1;
}
#main12>.aa1>.bb2{
    height: 20vh;
    width: 20vw;
}
#main12>.aa1>.bb2>h5{
    margin-top: 10%;
    margin-left: 30%;
    font-size: 17px;
    font-family: gilroy;
    font-weight: 500;
    color: #bf933b;
}
#main12>.aa1>.bb2>button{
   margin: 25px 75px;
   padding: 10px 30px;
   color: #F3EAE1;
   background-color: #0E0E0D;
   border: 1px solid #F3EAE1;
}
#main12>.aa1>.bb3{
    height: 20vh;
    width: 20vw;
}
#main12>.aa1>.bb3>h5{
    margin-top: 10%;
    margin-left: 5%;
    font-size: 17px;
    font-family: gilroy;
    font-weight: 500;
    color: #bf933b;
}
#main12>.aa1>.bb3>button{
   margin: 25px 20px;
   padding: 10px 12px;
   color: #F3EAE1;
   background-color: #0E0E0D;
   border: 1px solid #F3EAE1;
}
#main12>.aa1>.bb4{
    height: 20vh;
    width: 20vw;
}
#main12>.aa1>.bb4>h5{
    margin-top: 10%;
    margin-left: 5%;
    font-size: 17px;
    font-family: gilroy;
    font-weight: 500;
    color: #bf933b;
}
#main12>.aa1>.bb4>button{
   margin: 25px 20px;
   padding: 10px 18px;
   color: #F3EAE1;
   background-color: #0E0E0D;
   border: 1px solid #F3EAE1;
}
#main13{
    height: 30vh;
    width: 100vw;
    background-color: #0E0E0D;
}
#main13>.aa1{
    height: 30vh;
    width: 90vw; 
    margin-left: 5%;
    border: 1px solid #bf933b;
}
#main13>.aa1>img{
    height: 22vh;
    width: 80vw;  
    margin-top: 2%;
    margin-left: 1%;
}
#main14{
    height: 10vh;
    width: 100vw;
    background-color: #0E0E0D;
}
#main14>.aa1{
    height: 10vh;
    width: 90vw; 
    margin-left: 5%;
    border: 1px solid #bf933b;
    display: flex;
    align-items: center;
}
#main14>.aa1>.bb1{
    height: 5vh;
    width: 50vw;
}
#main14>.aa1>.bb1>h6{
    margin: 10px 20px;
    font-size: 13px;
    font-family: gilroy;
    font-weight: 400;
    color: #F3EAE1;
}
#main14>.aa1>.bb2{
    height: 5vh;
    width: 50vw;
}
#main14>.aa1>.bb2>h6{
    margin: 10px 20px;
    font-size: 13px;
    font-family: gilroy;
    font-weight: 400;
    color: #F3EAE1;
}